.title-bar
  .container
    %h1 About us
.container.content
  .row
    .span4
      %h2.side-title The Style ID story
    .span8
      %p 
        Founders Larissa and Janine have both run successful salons for many years. They have long been aware that salon success is built on the relationship a client shares with their hairdresser. Joining forces, they created StyleID, a simple and fun consultation tool designed by hairdressers for hairdressers! 
      %p
        StyleID uses the innovation of technology to bring a the WOW factor back to the hairdressing industry, supporting the expertise of the professional hairdresser. As stylists and salon owners themselves Larissa and Janine embrace the challenges hairdressers & salon owners have communicating with their clients.
      %p
        Matt Joined Larissa and Janine to bring the technology to life. The iPad application provides a consistent process and enhances communication for stylists and their clients. All essential to ensure happy & Loyal clients the heart of the StyleID philosophy!
  %hr
  .row
    .span4
      %h2.side-title Our mission & vision
    .span8
      %p 
        Using the latest technology our mission is to enhance the communication between Stylist and their clientele. Our focus is to ensure consistently excellent style results by delivering a simple and accessible guide ensuring all clients look their very best.

