.title-bar
  .container
    %h1 Be the face of Style ID
.container.content
  .row
    .span6
      %h3
        Show the world your style and be in to win an iPad mini.
      %p 
        Submit your favourite images from a previous shoot or have fun creating a new one. Images must be a profile head and shoulder shot showcasing a magazine cover haircut and colour with a leading edge.
      %p 
        It's free to enter, the FACE winner will receive an iPad mini and a six month subscription to StyleID and monthly winners will enjoy a gift basket to the value of $200.
      %p 
        Entries close 1 November 2013.
    .span6
      %form.form-center.top
        %label{:for => 'name'}
          Name 
        %input.input-block-level#name{:name => "name", :type => "text"}
        %label{:for => 'email'}
          Email
        %input.input-block-level#email{:name => "email", :type => "email"}
        %label{:for => 'salon-name'}
          Salon name
        %input.input-block-level#salon-name{:name => "salon-name", :type => "text"} 
        %label{:for => 'image'}
          Photo
        %input#image{:name => "image", :type => "file"} 
        %button.btn.btn-large.btn-primary.btn-block{:type => "submit"} Submit
        %p.small
          By clicking SIGN UP you agree to the 
          %a{"data-toggle" => "modal", :href => "#terms", :role => "button"}Terms Of Service
          and 
          %a{"data-toggle" => "modal", :href => "#privacy", :role => "button"}Privacy Policy
