.title-bar
  .container
    %h1 FAQ
.container.pricing
  .row
    .span4
      %h2.side-title General
    .span8
      .faq
        %p.faqQuestion How do we get StyleID?
        %p.faqAnswer
          StyleID will soon be available through the App store. In the meantime
          %a{:href => "http://www.styleid.co/register"} Register
          your interest with us on our Home page and we will make sure you are the first to know when you can download it for Free - its coming real soon.
        %p.faqQuestion What do we need to use StyleID?
        %p.faqAnswer One iPad (iPad 2 or higher), an iTunes account and WiFi or 3G is all you need to get started. It's that simple.
        %p.faqQuestion How will we know what to do?
        %p.faqAnswer Follow our simple app menu options and you will find StyleID steps you through your consultation service with ease.
        %p.faqQuestion Will it make our consultations take longer?
        %p.faqAnswer With easy access to the hair style guide and your clients visual histories, consultations will be fun, quicker and more effective. No more flicking through magazines or stilted conversations saving you time and and making you money.
        %p.faqQuestion Can our salon afford StyleID?
        %p.faqAnswer
          Free to download and get started you can try before you buy. Check out our
          %a{:href => "http://www.styleid.co/plans_and_pricing"} Pricing and Plans
          on the home page for further details.