.container
  %form.form-center.signup
    %h2 Forgot your password?
    %p Don’t worry, it happens to even the best of us.
    %input.input-block-level{:placeholder => "Email address", :type => "text"}
    %button.btn.btn-large.btn-primary.btn-block{:type => "submit"} Submit