.container
  .jumbotron
    %h1 The traditional salon experience just got better.
    %p.lead Introducing styleid, the interactive hairdressing experience that builds rapport and wows clients.
    %a.btn.btn-large.btn-success{:href => "#"} Signup
    %a.btn.btn-large.btn-primary{:href => "#"} Take a tour
  .row
    .span6
      %p.lead Change the way you and your client make hair and fashion choices.

    .span6
      %p.lead Enjoy shapes and styles that are personalized to your clients styling needs.
  .row
    .span6
      %p.lead Build loyalty and rapport using our simple and fun consultation tool.
    .span6
      %p.lead Our extensive image library offers inspiration and the latest trends and styles.
  .row
    .span12
      %a.btn.btn-success{:href => "#"} Available at the App Store
      %h3 Be part of styleid and enjoy the future of hairstyling. Get the free app