.title-bar
  .container
    %h1 Plans and Pricing
.container.pricing
  .row
    .span3
      .plan
        %h2 Single
        %h3.price 
          $11
          %span.small per month
        %p 1 Haidresser
        %a.btn.btn-primary.btn-block.btn-large{href: "#"}  Signup
    .span3
      .plan
        %h2 Small
        %h3.price 
          $29 
          %span.small per month
        %p 2 - 5 Hairdressers
        %a.btn.btn-primary.btn-block.btn-large{href: "#"}  Signup
    .span3
      .plan
        %h2 Medium
        %h3.price  
          $56 
          %span.small per month
        %p 6 - 12 Hairdressers
        %a.btn.btn-primary.btn-block.btn-large{href: "#"}  Signup
    .span3
      .plan
        %h2 Large
        %h3.price  
          $75
          %span.small per month
        %p 13 - 25 Hairdressers
        %a.btn.btn-primary.btn-block.btn-large{href: "#"} Signup
.container.center  
  %h4 
    For custom plans 
    %a{href: "#"} contact us 