.title-bar
  .container
    %h1 Salons
.container.content
  .row
    .span8
      %h2.side-title The StyleID family is growing day by day
      %p 
        Click on a logo below to see salons using StyleID
  .row
    .span3
      .thumbnail
        %img{:src => "http://placehold.it/300x240"}
        .caption
          %h3 Salon name
    .span3
      .thumbnail
        %img{:src => "http://placehold.it/300x240"}
        .caption
          %h3 Salon name
    .span3
      .thumbnail
        %img{:src => "http://placehold.it/300x240"}
        .caption
          %h3 Salon name
    .span3
      .thumbnail
        %img{:src => "http://placehold.it/300x240"}
        .caption
          %h3 Salon name
  .row
    .span3
      .thumbnail
        %img{:src => "http://placehold.it/300x240"}
        .caption
          %h3 Salon name
    .span3
      .thumbnail
        %img{:src => "http://placehold.it/300x240"}
        .caption
          %h3 Salon name
    .span3
      .thumbnail
        %img{:src => "http://placehold.it/300x240"}
        .caption
          %h3 Salon name
    .span3
      .thumbnail
        %img{:src => "http://placehold.it/300x240"}
        .caption
          %h3 Salon name