.title-bar
  .container
    %h1 Vivo Hair & Beauty
.container.content
  .row.team
    .span4
      %h2.side-title Our Team
    .span2
      .thumbnail
        %img{:src => "http://placehold.it/160x160"}
        .caption
          %p Hairdresser Name 
    .span2
      .thumbnail
        %img{:src => "http://placehold.it/160x160"}
        .caption
          %p Stylist name
    .span2
      .thumbnail
        %img{:src => "http://placehold.it/160x160"}
        .caption
          %p Stylist name 
    .span2
      .thumbnail
        %img{:src => "http://placehold.it/160x160"}
        .caption
          %p Stylist name 
  %hr
  .row.contact
    .span4
      %h2.side-title Contact details
    .span4
      %h3
        Phone
      %p
        888-8888

      %h3
        Email
      %p
        contact@styleid.com
      
      %h3
        Website
      %p
        www.styleid.co
    .span4
      %h3 
        Address
      %p
        123 Coolest Rd, Suburb, Wellington, New Zealand






