
.container
  %form.form-center.signup
    %h2 Sign up for
    .plan
      %h2 Single plan
      %h3.price 
        US$11
        %span.small per month
      %p 1 Haidresser
    %hr
    %label{:for => 'name'}
      Name 
    %input.input-block-level#name{:type => "text"}
    %label{:for => 'email'}
      Email address
    %input.input-block-level#email{:type => "email"}
    %label
      Salon name
    %input.input-block-level{:type => "text"}  
    %label{:for => 'salon-name'}
      Salon name
      %input.input-block-level#salon-name{:type => "tel"}

    %h3
      About you
    .checkbox-group
      %label.checkbox
        %input{:type => "checkbox", :value => "salon-owner"}
          Salon owner
      %label.checkbox
        %input{:type => "checkbox", :value => "hairdresser"}
          Hairdresser
    %label{:for => 'password'}
      Password
      %input.input-block-level#password{:type => "password"}
    %label{:for => 'confirm-pass'}
      Confirm password  
      %input.input-block-level#confirm-pass{:type => "password"}
        
    %button.btn.btn-large.btn-primary.btn-block{:type => "submit"} Sign up
    %p.small
      By clicking SIGN UP you agree to the 
      %a{"data-toggle" => "modal", :href => "#terms", :role => "button"}Terms Of Service
      and 
      %a{"data-toggle" => "modal", :href => "#privacy", :role => "button"}Privacy Policy

/ Modal terms
#terms.modal.hide.fade{"aria-hidden" => "true", "aria-labelledby" => "termsLabel", :role => "dialog", :tabindex => "-1"}
  .modal-header
    %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
    %h3#myModalLabel Terms and conditions
  .modal-body
    %p Violation of any of the terms below will result in the termination of your Account. While GitHub prohibits such conduct and Content on the Service, you understand and agree that GitHub cannot be responsible for the Content posted on the Service and you nonetheless may be exposed to such materials. You agree to use the Service at your own risk.
  .modal-footer
    %button.btn{"aria-hidden" => "true", "data-dismiss" => "modal"} Close
    /%button.btn.btn-primary Close

/ Modal privacy
#privacy.modal.hide.fade{"aria-hidden" => "true", "aria-labelledby" => "termsLabel", :role => "dialog", :tabindex => "-1"}
  .modal-header
    %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
    %h3#myModalLabel Privacy policy
  .modal-body
    %p We collect the e-mail addresses of those who communicate with us via e-mail, aggregate information on what pages consumers access or visit, and information volunteered by the consumer (such as survey information and/or site registrations). 
  .modal-footer
    %button.btn{"aria-hidden" => "true", "data-dismiss" => "modal"} Close
    /%button.btn.btn-primary Close