.container
  %form.form-signup
    %h2.form-signup-heading Sign up
    %input.input-block-level{:placeholder => "Email address", :type => "text"}
    %input.input-block-level{:placeholder => "Password", :type => "password"}
    %input.input-block-level{:placeholder => "Confirm password", :type => "password"}
        
    %button.btn.btn-large.btn-primary.btn-block{:type => "submit"} Sign up