.title-bar
  .container
    %h1 Terms and conditions
.container.content
  .row
    .span4
      %h2.side-title At Style ID, we take privacy seriously.
    .span8
      %p
        Welcome to StyleID, a Hairstyle & client consultation management service designed especially for Stylists and Salon Owners. These Terms & Conditions are intended to explain our obligations as a Service Provider and Your obligations as a Subscriber. Please read them carefully.
      %br/
      %p
        StyleID aim to give you the highest service possible and appreciate your feedback. Please use our
        %a{:href => "http://www.styleid.co/contact_us"} online form
        in the first instance, or
        %a{:href => "mailto:support@styleid.co"} email
        our customer services team.
      %br/
      %p
        By subscribing to StyleID and all its related product offering and services You acknowledge that You have read and understood these Terms & Conditions, and have the authority to act on behalf of any person or entity for whom You use the Service.
      %br/
      %p
        These Terms & Conditions are binding on any use of StyleID Ltd Service and apply to You from the time that you accept them.
      %br/
      %p
        These Terms & Conditions are effective from 1 April 2013.
      %br/
      %ol.terms
        %li
          %strong Definitions
          %ol.definition
            %li "StyleID” means StyleID Ltd and where applicable its successors and assigns or any person acting on behalf of and with the authority of StyleID Ltd
            %li “Salon Owner” and “Salon” means the person who registers to use Style ID Services, and, where the context permits, includes #any entity on whose behalf that person registers to use the Service.
            %li "Website" means the Internet site at the domain ww.styleid.co  or any other site operated by StyleID.
            %li "Intellectual Property Right" means any patent, trade mark, service mark, copyright, moral right, right in a design, know-how and any other intellectual or industrial property rights, anywhere in the world whether or not registered.
            %li "Guarantor” means that person (or persons), or entity, who agrees to be liable for the debts of the Salon Owner on a principal debtor basis.
            %li "Application” means all StyleID developed software supplied by StyleID to the Salon Owner.
            %li “Price” means the cost of the Application as agreed between StyleID Ltd and the Salon Owner subject to clause X of this contract.
            %li "Agreement" means these Terms & Conditions.
            %li "Subscription" means the Month by Month subscription You have entered into under Your Variable Terms & Conditions.
            %li “Confidential Information" includes all information exchanged between the parties to this Agreement, whether in writing, electronically or orally, including the Service but does not include information which is, or becomes, publicly available other than through unauthorized disclosure by the other party.
            %li "Data" means any data inputted by You or with Your authority into StyleID Ltd Application.
            %li “Services” means all services supplied by StyleID Ltd to the Salon Owner and includes any advice or recommendations (and where the context so permits shall include any supply of Application as defined above).
        %li
          %strong Change in Terms & Conditions
          %p
            StyleID Ltd Service will evolve over time based on user feedback, new technologies and other reasons or conditions. These current Terms & Conditions may not answer every question or address every issue now or in the future. StyleID reserves the right to change these Terms & Conditions at any time, effective upon the posting of updated, modified Terms & Conditions. StyleID will make every effort to communicate these changes to You via email or other notification such as via StyleID Ltd Website or the Apple App Store via an update. It is Your obligation to ensure that You have read, understood and agree to the most recent Terms & Conditions.
        %li
          %strong Privacy
          %ol.definition
            %li Your privacy is important to us. The personal information StyleID collects and holds about you will be used for administration and marketing purposes only. This includes billing and delivery, and to collect information that allows us to better understand your needs. We may contact you from time–to–time with information about other products and services. However we will only contact you or forward your information to other companies if you agree for us to do so. You are entitled to have access to, and request correction of, your personal information by emailing StyleID at team@styleid.co or calling 0800 XXX XXX. StyleID adheres to all privacy legislation and is proud to act solely in accordance with New Zealand regulatory obligations.
            %li You agree to keep all StyleID information, data, communications and application features confidential and not to share these with competition or any other third party.
            %li StyleID Ltd will treat all business information supplied to it by the Salon Owner confidentially. From time to time StyleID Ltd may use selected information for analytical and industry comparative purposes.
        %li
          %strong Acceptance
          %ol.definition
            %li When signing up with StyleID Ltd including downloading the application, StyleID Ltd shall constitute this as acceptance of the Terms & Conditions contained in these Terms & Conditions.
            %li Style ID retains the right to turn down any new subscription/business requests for any reason. Please understand that this clause has been created in order to protect StyleID services, intellectual property, and ability to manage finances.
            %li Where more than one Salon Owner has entered into this agreement, the Salon Owners shall be jointly and severally liable for all payments of the Price.
            %li Upon acceptance of these Terms & Conditions by the Salon Owner the Terms & Conditions are irrevocable and can only be amended with the written consent of the StyleID.
            %li The Salon Owner agrees to give StyleID Ltd at least fourteen (14) days notice of any change in the Salon Owner’s name, address and/or any other change in the Salon Owner’s details.
        %li
          %strong Price, Payment and subscriptions
          %ol.definition
            %li
              At the StyleID’s sole discretion the Price shall be either;
              i)as indicated on invoices provided by StyleID Ltd to the Salon Owner in respect of Application supplied; or
              ii) StyleID’s quoted Price on the Public Web site which shall be binding upon StyleID Ltd.
            %li Your subscription to StyleID renews automatically. We will continue to deliver your chosen StyleID services until you notify us to stop.
            %li
              StyleID Ltd reserves the right to change the Price given 30 days notice in writing to the Salon Owner.
              (d) Time for payment for the Application shall be in advance and will be stated on the invoice or any other forms.
            %li Payment will be by an authorized Credit Card, or by any other method as agreed to between the Salon Owner and StyleID.
            %li GST and other sales taxes and duties that may be applicable shall be added to the Price except when they are expressly included in the Price.
            %li StyleID Ltd shall send all invoices to the Salon Owner by email. Invoices sent by post shall be subject to a postal charge.
            %li You agree to pay your account by the due date shown on your invoice/statement. If you dispute any content of your invoice/statement you will need to inform us within 21 days of the date of the invoice/statement. The undisputed part of the account is still payable by the due date.
            %li If you do not pay your account by the due date you may be liable for all costs of recovery and collection fees. We may also refer your account to a third party collection agency. We appreciate your support and understanding in this area.
            %li StyleID reserves the right to amend prices or withdraw offers at any time. For ‘paid in-advance’ customers, any price changes will take effect on renewal.
        %li
          %strong Method of Contact
          %ol.definition
            %li It is your responsibility to ensure that StyleID has your correct current contact and payment details at all times
            %li StyleID endeavours to make every effort to contact you should it be necessary for administration or customer service reasons. StyleID will try to contact you using the contact details you have provided us with. StyleID takes no responsibility for being unable to contact you on those details or for getting no response from you after 3 attempts.
        %li
          %strong Delivery Of Application
          %ol.definition
            %li At the StyleID’s sole discretion delivery of the Application shall take place when the Salon Owner takes possession of the Application from Apple App Store
            %li Delivery of the Application to a staff member or third party nominated by the Salon Owner is deemed to be delivery to the Salon Owner for the purposes of this agreement.
            %li StyleID Ltd shall not be liable for any loss or damage whatever due to failure by Apple App Store to deliver the Application promptly or at all.
            %li StyleID takes no responsibility for any of your associated hardware in regard to the delivery method of the Application. For hardware queries or customer service please contact your hardware provider.
        %li
          %strong Application Ownership
          %ol.definition
            %li
              The Salon Owner and StyleID Ltd agree that ownership of the Application shall not pass until:
              (i) the Salon Owner has paid all amounts owing for the particular Application, and
              (ii) the Salon Owner has met all other obligations due by the Salon Owner to StyleID Ltd in respect of all contracts between StyleID Ltd and the Salon Owner.
            %li Receipt by StyleID Ltd of any form of payment other than cash shall not be deemed to be payment until that form of payment has been honored, cleared or recognized and until then the StyleID’s ownership or rights in respect of the Application shall continue.
            %li
              It is further agreed that:
              (i) Until such time as ownership of the Application shall pass from StyleID Ltd to the Salon Owner, StyleID Ltd may give notice in writing to the Salon Owner to return the Application or copies of them to the StyleID.
              (ii)  Upon such notice the rights of the Salon Owner to obtain ownership or any other interest in the Application shall cease; and
              (iii)If the Salon Owner fails to return or delete the Application then StyleID Ltd or the StyleID’s agent may stop the application from being active. The Salon owner and all associated staff log in and passwords will no longer be active.
              (iv)StyleID Ltd can issue proceedings to recover the Price of the Application sold notwithstanding that ownership of the Application may not have passed to the Salon Owner.
        %li
          %strong Intellectual Property
          %p
            All intellectual property rights, including copyright, StyleID Application, any associated manuals are the sole property of StyleID. The Appliction is supplied solely for the Salon Owner’s internal use and the Salon Owner agrees not to do any of the following without the StyleID’s written consent:
          %ol.definition
            %li copy the Application; or
            %li allow any third party to have access to the Application; or
            %li alter, modify, tamper with or reverse engineer the Application; or
            %li combine the Application with any other software.
        %li
          %strong Salon Owner’s Disclaimer
          %p
            The Salon Owner hereby disclaims any right to rescind, or cancel the contract or to sue for damages or to claim restitution arising out of any misrepresentation made to the Salon Owner by StyleID Ltd and the Salon Owner acknowledges that the Application are bought relying solely upon the Salon Owner’s skill and judgment.
        %li
          %strong Defects
          %p
            The Salon Owner shall within seven (7) days notify StyleID Ltd of any alleged defect, or failure of the Application to comply with the description or quote as per the Apple App Store or Public Website. The Salon Owner shall afford StyleID Ltd an opportunity to inspect the Application within a reasonable time following delivery if the Salon Owner believes the Application are defective in any way. If the Salon Owner shall fail to comply with these provisions the Application shall be presumed to be free from any defect or damage. For defective Application, which StyleID Ltd has agreed in writing that the Salon Owner is entitled to reject, the StyleID’s liability is limited to replacing the Application
        %li
          %strong Warranty and Technical Specifications
          %p
            Subject to the Salon Owner complying with the minimum technical specifications communicated by StyleID Ltd to the Salon Owner, StyleID Ltd warrants that the Application will be provided with reasonable care and skill and that Services will commence within the timeframes agreed with the Salon Owner.
          %p
            StyleID Ltd does not warrant or guarantee that Services will be continuous or fault-free and whilst StyleID Ltd shall make all reasonable efforts to restore any disrupted Services StyleID Ltd shall not be liable to compensate the Salon Owner for any delay or in properly assessing the Salon Owner’s claim.
          %p
            StyleID Ltd does not make any claims or provide any guarantees that the Salon Owner’s use of the Application provided by StyleID Ltd will lead to savings or increased revenue for the Salon Owner.
        %li
          The Commonwealth Trade Practices Act 1974 (“TPA”) and Fair Trading Acts (“FTA”)
          %p
            Nothing in this agreement is intended to have the effect of contracting out of any applicable provisions of the TPA or the FTA in each of the States and Territories of Australia, except to the extent permitted by those Acts where applicable.
        %li
          %strong Salon Owner’s Responsibilities
          %ol.definition
            %li
              The Salon Owner shall:
              (i) follow any instructions StyleID Ltd provides about using the StyleID’s Application; and
              (ii) use the Application in a responsible manner; and
              (iii) comply with all applicable laws and any relevant advertising codes of practice, especially in relation to sending unsolicited communications in any form; and
              (iv) only send to third parties materials they have agreed to receive; and
              (v) keep all identification codes and/or passwords provided by StyleID Ltd to the Salon Owner confidential.
            %li The Salon Owner indemnifies StyleID Ltd against the consequences of any failure to effectively carry out the Salon Owner’s responsibilities as provided in these Terms & Conditions.
        %li
          %strong Default & Consequences of Default
          %ol.definition
            %li Interest on overdue invoices shall accrue from the date when payment becomes due daily until the date of payment at a rate of 2.5% per calendar month and such interest shall compound monthly at such a rate after as well as before any judgement.
            %li
              If the Salon Owner defaults in payment of any invoice when due, the Salon Owner shall indemnify StyleID Ltd from and against all costs and disbursements incurred by StyleID Ltd in pursuing the debt including legal costs on a solicitor and own Salon Owner basis and the StyleID’s collection agency costs.
              Without prejudice to any other remedies StyleID Ltd may have, if at any time the Salon Owner is in breach of any obligation (including those relating to payment) StyleID Ltd may suspend or terminate the supply of the Application to the Salon Owner and any of its other obligations under the Terms & Conditions. StyleID Ltd will not be liable to the Salon Owner for any loss or damage the Salon Owner suffers because StyleID Ltd exercised its rights under this clause.
            %li StyleID Ltd reserves the right to charge a default fee of $25.00 in the event that the Salon Owner’s direct debit is dishonoured.
            %li If any account remains overdue after thirty (30) days then an amount of the greater of $20.00 or 10.00% of the amount overdue (up to a maximum of $200) shall be levied for administration fees which sum shall become immediately due and payable.
            %li
              Without prejudice to the StyleID’s other remedies at law StyleID Ltd shall be entitled to cancel all or any part of any order of the Salon Owner which remains unperformed and all amounts owing to StyleID Ltd shall, whether or not due for payment, become immediately payable in the event that:
              (a) any money payable to StyleID Ltd becomes overdue, or in the StyleID’s opinion the Salon Owner will be unable to meet its payments as they fall due; or
              (b) the Salon Owner becomes insolvent, convenes a meeting with its creditors or proposes or enters into an arrangement with creditors, or makes an assignment for the benefit of its creditors; or
              (c) a receiver, manager, liquidator (provisional or otherwise) or similar person is appointed in respect of the Salon Owner or any asset of the Salon Owner.
        %li
          %strong Cancellation
          %ol.definition
            %li StyleID Ltd may cancel these Terms & Conditions or any contract to which they apply at any time before the Application is delivered or thereafter by giving one month’s prior written notice. On giving such notice StyleID Ltd shall repay to the Salon Owner any sums paid in respect of the Price less any amount that may be due to StyleID Ltd for  already supplied. StyleID Ltd shall not be liable for any loss or damage whatever arising from such cancellation.
            %li In the event that the Salon Owner cancels the contract the Salon Owner shall be liable for any loss incurred by StyleID Ltd including, but not limited to, all fees due for the remainder of the period of the contract.
        %li
          %strong Limitation of Liability
          %ol.definition
            %li In the event of any breach of this contract by StyleID Ltd the remedies of the Salon Owner shall be limited to damages. The Salon Owner agrees that the damages shall be limited to either an amount equal to the Salon Owner’s monthly fees or where applicable the actual purchase price of any Application.
            %li StyleID Ltd shall not be liable for any error or breach resulting from incorrect information being provided by the Salon Owner to StyleID.
            %li StyleID Ltd shall be under no liability whatever to the Salon Owner for any indirect loss and/or expense (including loss of profit) suffered by the Salon Owner arising out of a breach by StyleID Ltd of these Terms & Conditions.