.title-bar
  .container
    %h1 Take the tour
.container.content
  .row
    .span4
      %h2.side-title Share and explore new styles that will best suit your client.
    .span8
      %img{:src=>"http://placehold.it/780x300"}
      %p 
        Together, Stylists and Clients can 'Pin' hairstyles from a Tailored style selection for inspiration, making a picture torn from a magazine a thing of the past!
      %p
        Deliver your Clients valuable style information and ensure they are looking fabulous beyond their Salon appointment.
  %hr
  .row
    .span4
      %h2.side-title Keep a personal history of every style.
    .span8
      %img{:src=>"http://placehold.it/780x300"}
      %p 
        Quickly identify what your clients' love about previous styles and easily establish what they need next on their hair style journey.
      %p
        StyleID gives you the tools to build client loyalty.
  %hr
  .row
    .span4
      %h2.side-title Make consultation time simpler and faster.
    .span8
      %img{:src=>"http://placehold.it/780x300"}
      %p 
        Interact with your clients on a whole new level.
      %p
        StyleID offers a tailored selection of images specifically to suit your clients personal preferences leaving you more time to get on with doing great hair.
  %hr
  .row
    .span4
      %h2.side-title Deliver the salon experience your client desires.
    .span8
      %img{:src=>"http://placehold.it/780x340"}
      %p 
        StyleID brings consistency to the salon service, increasing loyalty and greater trust with your clients.
  %hr
  .row
    .span4
      %h2.side-title Gone are the days of clients bringing in a torn magazine.
    .span8
      %img{:src=>"http://placehold.it/780x300"}
      %p 
        StyleID gives you and your client a visual tool to work with.
      %p
        Showcase your creativity & design while ensuring you and your Client understand each other before you start creating her ‘perfect hairstyle’.