// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap"
@import "bootstrap-responsive"


/*Layout*/
body
  padding-top: 60px


/*Home*/
.jumbotron
  margin: 80px 0
  text-align: center
  h1
    font-size: 72px
    line-height: 1
  .lead 
    font-size: 24px
    line-height: 1.25
  .btn
    font-size: 21px
    padding: 14px 24px
