// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "compass/css3"


/*-------------------------------------------------------------------------*/
/*Mixins*/
/*-------------------------------------------------------------------------*/
@mixin font-face($font-family, $file-path, $weight: normal, $style: normal )
  @font-face
    font-family: $font-family
    src: url('#{$file-path}.eot')
    src: url('#{$file-path}.eot?#iefix') format('embedded-opentype'), url('#{$file-path}.woff') format('woff'), url('#{$file-path}.ttf') format('truetype'), url('#{$file-path}.svg##{$font-family}') format('svg')
    font-weight: $weight
    font-style: $style

@mixin hide-text
  text-indent: 110%
  white-space: nowrap
  overflow: hidden


/*-------------------------------------------------------------------------*/
/*Fonts*/
/*-------------------------------------------------------------------------*/
+font-face(ProximaNova, 'fonts/proximanova/proximanova-light-webfont')
+font-face(ProximaNova, 'fonts/proximanova/proximanova-semibold-webfont', bold)
+font-face(ProximaNova, 'fonts/proximanova/proximanova-lightitalic-webfont', normal, italic)
+font-face(ProximaNova, 'fonts/proximanova/proximanova-semibolditalic-webfont', bold, italic)


/*-------------------------------------------------------------------------*/
/*Variables*/
/*-------------------------------------------------------------------------*/
$gold: #B4975A
$dark-grey: #333
$darker-grey: #111
$yellow: #FCD55B
$light-grey: #ddd


/*-------------------------------------------------------------------------*/
/*Generic elements*/
/*-------------------------------------------------------------------------*/
a 
  color: $yellow
  &:hover
    color: lighten($yellow, 10%)
.btn
  +border-radius(3px, 3px)
  text-transform: uppercase
  +text-shadow(rgba(black, 0.5) 0px -1px 2px)
  padding-top: .5em
  &:hover
    +transition(none)
    background-position: 0 0 
  &.btn-primary
    +background-image(linear-gradient(lighten($gold, 10%), $gold))
    border-color: darken($gold, 10%)
  &.btn-large
    padding-top: .7em
.center
  text-align: center
hr 
  border-top: 1px solid rgba(black, .8)
  border-bottom: 1px solid rgba(white, .15)
  height: 0
p 
  line-height: 1.5em
  color: $light-grey
  &.small 
    color: #666
    display: block
    font-size: 14px
    margin-top: 10px 
    text-align: center
    a 
      color: $gold 
li 
  color: $light-grey
.side-title 
  margin-top: 0

.modal
  +border-radius(0,0)
  border: 2px solid darken($gold, 20%)
  background: #222
  .modal-header
    border-bottom: 1px solid rgba(white, .1)
    text-transform: uppercase
    font-size: 18px
    background: #333
    h3
      font-weight: normal
      font-size: 18px
    .close 
      color: white
      +text-shadow(none)
  .modal-footer
    +border-radius(0,0)
    background: #333
    border-top: 1px solid rgba(white, .1)
    +box-shadow(none)

.thumbnail
  border-color: #222
  +border-radius(0,0)
  +box-shadow(none)
  background-color: #444
  img 
    margin-bottom: 0 !important
  .caption 
    h3 
      margin-bottom: 0
      color: $light-grey
      font-size: 18px
      margin-top: 0
      line-height: 1em

/*-------------------------------------------------------------------------*/
/*Forms*/
/*-------------------------------------------------------------------------*/

.form-center
  margin: 40px auto
  max-width: 320px
  border: 2px solid black
  padding: 20px 
  background: #222
  &.top
    margin-top: 0

  h2
    margin-top: 0px
  h3
    margin-bottom: 0px
  label
    font-size: 18px
    &.checkbox 
      color: #999
      margin-bottom: 20px
      font-size: 16px
      line-height: 1.5em
  .checkbox-group
    margin-bottom: 20px
    .checkbox
      margin-bottom: 0px

  input[type="text"], input[type="password"], input[type="email"], input[type="tel"]
    font-size: 18px
    padding: 20px 10px
    margin-bottom: 15px

  input[type="file"]
    font-size: 18px
    padding: 0px
    margin-bottom: 15px
    font-family: 'ProximaNova', "Helvetica Neue", Helvetica, Arial, sans-serif
    line-height: 20px


  &.wide
    margin-left: 0 
    margin-right: 0
    max-width: 100%




textarea, input[type="text"], input[type="password"], input[type="datetime"], 
input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], 
input[type="week"], input[type="number"], input[type="email"], input[type="url"], 
input[type="search"], input[type="tel"], input[type="color"], .uneditable-input 
  background: #333
  font-family: 'ProximaNova', "Helvetica Neue", Helvetica, Arial, sans-serif
  border-color: black black #383838 #383838
  font-size: 16px
  padding: 20px 10px
  color: $light-grey
  +border-radius(0,0)
  +box-shadow(rgba(black, .2) 0 0 5px 1px inset)
  &:focus
    +box-shadow(rgba(0, 0, 0, 0.075) 0 1px 1px inset, rgba(lighten($gold, 20%), 0.6) 0 0 8px)
    border-color: $gold
input[type="checkbox"]
  width: 14px
  height: 14px
button
  font-family: 'ProximaNova', "Helvetica Neue", Helvetica, Arial, sans-serif
textarea 
  padding-top: 10px




/*-------------------------------------------------------------------------*/
/*Layout*/
/*-------------------------------------------------------------------------*/
html, body
  height: 100%
body
  background: $dark-grey
  color: white
  font-family: 'ProximaNova', "Helvetica Neue", Helvetica, Arial, sans-serif
  font-size: 16px
  .wrap 
    height: 100%
    width: 100%
    display: table
    padding-top: 40px
    padding-bottom: 120px
    -moz-box-sizing: border-box
    -webkit-box-sizing: border-box
    box-sizing: border-box
  .navbar-inverse
    .navbar-inner
      background: white
      +background-image(linear-gradient(lighten($gold, 10%), $gold))
      border-color: $gold
      border-bottom: none
      +box-shadow(rgba(black, .5) 0px 1px 10px)
      .container
        position: relative
      .brand
        color: white
        +hide-text
        width: 65px
        height: 65px
        position: absolute
        top: 5px
        left: 0
        background: transparent url(logo.png) no-repeat center top
        background-size: 65px auto

  
    .nav-collapse 
      float: right
      .nav
        margin: 0
        li
          border-left: 1px solid rgba(white, 0.15)
          border-right: 1px solid rgba(black, 0.15)
          &.active
            a
              +background-image(linear-gradient(darken($gold, 10%), $gold))
              background-color: darken($gold, 10%)
              color: lighten($gold, 20%)
          a 
            color: white
            text-transform: uppercase
            padding: 14px 15px 14px
            &:hover
              +background-image(linear-gradient(lighten($gold, 15%), $gold))
              +single-text-shadow(0, 0, 5px, 0, white)
      .call-to-action
        border-left: 1px solid rgba(white, 0.15)
        height: auto
        padding-left: 10px
        padding-top: 2px
        display: inline-block
        &:last-child
          border-left: none
        .btn
          font-size: 14px
          text-transform: uppercase
          padding: 6px 10px 4px
  .title-bar
    background: transparent url(top-bg.jpg) repeat-x center top
    padding: 50px 0 30px
    border-bottom: 1px solid black
    h1
      font-size: 36px
      text-transform: uppercase
      +text-shadow(rgba(black, .5) 0px 2px 10px)
  .container.content
    margin: 40px auto
    .row 
      padding: 20px 0
    p 
      font-size: 18px
      &.small 
        color: #666
        display: block
        font-size: 14px
        margin-top: 10px 
        text-align: center
        a 
          color: $gold 
    img 
      margin-bottom: 20px




  footer
    background: $darker-grey
    border-top: 1px solid rgba(white, .1)
    padding: 40px 0
    margin: -120px auto 0
    height: 100px
    .nav 
      li 
        float: left
        margin: 0 10px
        a:hover
          background-color: transparent
      &.social
        li 
          margin: 0



/*-------------------------------------------------------------------------*/

/* PAGE SPECIFIC

/*-------------------------------------------------------------------------*/


/*-------------------------------------------------------------------------*/
/*Home*/
/*-------------------------------------------------------------------------*/
.jumbotron
  margin: 0px 0
  padding: 60px 0 
  text-align: left
  background: transparent url(site-banner.jpg) no-repeat center top
  min-height: 280px 

  h1
    font-size: 18px
    line-height: 1.5
    font-weight: normal
    color: rgba(white, .7)
    margin-bottom: 20px
  h2
    font-size: 38px
    line-height: 1.1
    font-weight: normal
  .lead 
    font-size: 24px
    line-height: 1.25
  .btn
    font-size: 21px
    padding: 20px 28px 16px
    margin-right: 20px

.home, .testimonials 
  padding: 40px 0 30px
  border-top: 1px solid rgba(black, .3)
  border-bottom: 1px solid rgba(black, .3)
  .row 
    padding: 10px 0

.testimonials
  border-top: 1px solid rgba(white, .2)
  *
    color: #ccc

  .media-object
    border: 2px solid rgba(black, .2)

  
.download
  padding: 40px 0
  border-top: 1px solid rgba(white, .2)
  border-bottom: 1px solid rgba(black, .3)
  h3 
    font-weight: normal
    color: rgba(white, .5)
    font-size: 21px

.home-icon
  background: transparent url(home-icons.png) no-repeat
  display: inline-block
  +hide-text
  height: 40px 
  width: 40px
  display: block  
  &.spin 
    margin: 10px 
    float: left
  &.scissors
    margin: 10px
    float: left
    background-position: -80px 0
  &.chain
    margin: 10px
    float: left
    background-position: -40px 0
  &.picture
    margin: 10px 10px 10px 0
    float: left
    width: 50px
    background-position: -120px 0
  &.appstore
    height: 60px
    width: 177px 
    background-position: -199px 0
    float: left
    margin-right: 20px
  &.facebook
    width: 50px
    background-position: -380px 0
  &.pinterest
    width: 50px
    background-position: -430px 0
  &.twitter
    width: 50px
    background-position: -480px 0

/*-------------------------------------------------------------------------*/
/*Signup*/
/*-------------------------------------------------------------------------*/
.form-center.signup
  max-width: 360px
  .plan 
    border: none 
    padding: 0

/*-------------------------------------------------------------------------*/
/*Signin*/
/*-------------------------------------------------------------------------*/
.form-center
  .forgot
    text-align: right
    padding: 0
    margin-top: -10px 
    color: #666
    display: block
    font-size: 14px
    

/*-------------------------------------------------------------------------*/
/*Pricing*/
/*-------------------------------------------------------------------------*/
.pricing
  padding: 40px 0
.plan
  background: #222
  border: 2px solid black
  padding: 20px
  h2 
    margin-top: 0
    text-transform: uppercase
    font-size: 24px
    font-weight: normal
  .price 
    color: $gold
    font-size: 48px
    padding: 20px 0 10px
    border-top: 1px solid darken($gold, 30%)
    border-bottom: 1px solid darken($gold, 30%)
    .small 
      font-size: .5em
      font-weight: normal
  p 
    font-size: 18px
    color: #ccc
    margin: 20px 0 20px
.container.center
  padding-bottom: 50px


/*-------------------------------------------------------------------------*/
/*Terms*/
/*-------------------------------------------------------------------------*/
ol.terms > li 
  line-height: 1.5em
  font-size: 24px
  ol li 
    font-weight: normal
    font-size: 16px
    margin: 10px 0


/*-------------------------------------------------------------------------*/
/*FAQ*/
/*-------------------------------------------------------------------------*/
.faq
  .faqQuestion
    font-weight: bold
    margin-bottom: 0
  .faqAnswer

/*-------------------------------------------------------------------------*/
/*Salon details*/
/*-------------------------------------------------------------------------*/
.content 
  .team 
    .thumbnail 
      p 
        margin-bottom: 0
  .contact 
    h3
      margin: 0
      line-height: 1em
      font-size: 18px
      color: #777





  






